/* General styles */
.page-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.logo {
  margin: 0;
  font: inherit;
  color: rgb(0, 167, 111);
  text-decoration: none;
  display: contents;
}

/* Left container styles */
.left-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw; 
  background: linear-gradient(
    rgba(255, 255, 255, 0.88),
    rgba(255, 255, 255, 0.88)
  ) center center / cover no-repeat,
  url(https://minimals.cc/assets/background/overlay_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.header-text {
  font-size: 1.5rem; 
  font-weight: 700;
  max-width: 30rem; 
  text-align: center;
}

.image {
  max-width: 45vw; /* Converted from 720px to vw */
}

/* Right container styles */
.right-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  max-width: 30rem; /* Converted from 480px to rem */
  padding: 10rem 4rem 0; /* Converted from pixel values to rem and vw */
  background-color: #ee5d5d;
}

.title {
  font-size: 1.5rem; /* No changes */
}

.filled-alert {
  background-color: rgb(202, 253, 245) !important;
  color: black;
}

.input-field {
  font-weight: 400;
  color: rgb(33, 43, 54);
  width: 100%;
  border-radius: 0.8rem; /* Converted from 8px to rem */
  margin-top: 2vh; /* Converted from 20px to vh */
}

.login-button {
  margin-top: 2vh; /* Converted from 20px to vh */
  background-color: rgb(33, 43, 54);
}

/* Modify this part if needed */
.outlined-input.Mui-focused .notched-outline {
  border-color: rgb(33, 43, 54);
}

.label {
  color: red !important;
}
