/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px;
  background: var(--app-background);
  transition: var(--tran-05);
  z-index: 100;
  border-right: 1px dashed rgba(145, 158, 171, 0.2);
}

/* Sidebar when closed */
.sidebar.close {
  width: 88px;
}

/* Sidebar list items */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: left;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  min-height: 44px;
  color: rgb(99, 115, 129);
  margin: 0 0 4px;
}

/* Sidebar icons */
.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.icon {
  min-width: 60px;
  border-radius: 6px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  color: rgb(99, 115, 129);
  font-weight: 600;
  background-color: rgb(99, 115, 129);
}
.child-icon {
  min-width: 60px;
  border-radius: 6px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  color: rgb(99, 115, 129);
  font-weight: 600;
}

/* Sidebar text */
.left-section-text-color {
  color: rgb(99, 115, 129);
  display: flex;
}

.text {
  font-size: 14px !important;
  font-weight: 600;
  white-space: nowrap;
  opacity: 1;
  transition: var(--tran-03);
}
.child-text {
  font-size: 14px !important;
  font-weight: 600;
  white-space: nowrap;
  opacity: 1;
  transition: var(--tran-03);
  color: rgb(99, 115, 129);
}

/* Text when sidebar is closed */
.sidebar.close .text {
  opacity: 0;
}

/* Sidebar header styles */
.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tran-05);
}

.sidebar header .image img {
  border-radius: 6px;
  width: 90%;
  height: 40px;
}

/* Sidebar toggle button */
.sidebar header .toggle {
  position: absolute;
  top: 2.5rem;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--tran-05);
  font-size: 1.125rem;
  padding: 4px;
  border: 1px dashed rgba(145, 158, 171, 0.2);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.48);
}

/* Toggle button when sidebar is closed */
.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

/* Sidebar link styles */
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.1s;
  position: relative;
  overflow: hidden;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}

/* Open icon style */
.open-icon {
  right: 10px;
  display: flex;
  position: absolute;
  font-size: 12px;
}

/* Hide icon style */
.hide-icon {
  display: none;
}

/* Hover effect on links */
.sidebar li a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: rgb(var(--pure-material-onprimary-rgb, 213, 212, 210));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

.sidebar li a:active:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Hover effect on links */
.sidebar li a:hover {
  background-color: var(--primary-color);
  text-decoration: none;
  background-color: rgba(145, 158, 171, 0.08);
}

/* Selected link styles */
.selected-link {
  color: rgb(255, 48, 48) !important;
  background-color: #ffefef !important;
}
.selected-icon {
  background-color: rgb(255, 48, 48) !important;
}
.selected-link:hover {
  background-color: rgba(255, 48, 48, 0.16) !important;
}
.selected-icon-child {
  color: rgb(255, 48, 48) !important;
  font-size: 20px;
}
/* Menu bar styles */
.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  margin-top: 35px;
}

/* Hide scrollbar on menu bar */
.menu-bar::-webkit-scrollbar {
  display: none;
}

/* Adjust home section when sidebar is closed */
.sidebar.close ~ .home {
  left: 78px;
  width: calc(100% - 78px);
}

/* Hide mobile view logo */
.mobile-view-logo {
  display: none !important;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  /* Hide toggle button on small screens */
  .toggle {
    display: none !important;
  }

  /* Adjust home section on small screens */
  .sidebar ~ .home {
    left: 78px !important;
    width: calc(100% - 78px) !important;
  }

  /* Reduce sidebar width on small screens */
  .sidebar {
    width: 88px !important;
  }

  /* Hide logo on small screens */
  .hide-logo {
    display: none !important;
  }

  /* Display mobile view logo on small screens */
  .mobile-view-logo {
    display: flex !important;
  }
}
