.main-layout-container {
  background-color: var(--app-background);
  height: 100vh;
}
.home {
  position: absolute;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);

  background-color: var(--app-background);
  transition: all 0.5s ease;
  padding-left: 10px;
}
.without-left-navbar {
  width: 100%;
  position: absolute;
  left: 0;
}
