.dashboard-container{
    /* margin-top: 15px; */
    padding: 1rem;
}
.dashboard-top-section{
  display: flex;  
  margin: auto;
  gap: 1rem;
}
.dashboard-top-section > :first-child {
  flex: 1;
  height: 18rem;
  overflow: hidden;
}

.dashboard-top-section > :last-child {
  /* width: 35%; */
}
.active-card-container {
  display: flex;
  /* padding: 0.5rem; */
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}



.chart-container{
  display: flex;
  width: 100%;
}
/* .chart-container> :first-child{
  border: 1px solid red;
} */