.dashboard-container {
  padding: 1rem;
}
.dashboard-top-section {
  display: flex;
  margin: auto;
  gap: 1rem;
}
.dashboard-top-section > :first-child {
  flex: 1;
  height: 18rem;
  overflow: hidden;
}

.active-card-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.chart-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}

.app-area-chart-box {
  flex: 1;
  width: 70%;
  max-height: 505px;
  border-radius: 1rem;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;

}
/* chart download css is here */
.chart-download-container {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-radius: 16px;
  z-index: 0;
}
.chartcard-heading-container {
  display: flex;
  align-items: center;
  padding: 24px 24px 0px;
  margin-bottom: 40px;
}
.chartcard-heading {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.55556;
}
