.popper-container {
  position: absolute;
  z-index: 100;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 0.5rem;
  transition: 0.5s;
  transition: opacity 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(https://minimals.cc/assets/cyan-blur.png),
    url(https://minimals.cc/assets/red-blur.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 50%, 50%;
  opacity: 1;
  transition: opacity 297ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 198ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  ::before {
    content: "";
    position: absolute;
    top: -6px;
    right: 15px;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
  }
}
